*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
}
body{
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    margin: 0 auto;
}
.img-first{
    height: 12.5rem;
    background:hsl(228, 56%, 26%);
    border-radius: 7px 55px 7px 7px;
    margin: 4rem 2rem 0rem 2rem;
    padding: 3rem 0 0 3rem;
}
.small-svg-images{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.doc,.folder,.upload{
    background: hsl(229, 57%, 11%);
    padding: 1rem;
    border-radius: 7px;
}
.small-svg-images img{
    margin: 1rem 1rem 1rem 0;
}
.last-section{
    height: 9.4rem;
    background:hsl(228, 56%, 26%);
    margin: 2rem 2rem 0rem 2rem;
    border-radius: 7px;
}
.section-paragraph{
    text-align: center;
    padding: 1rem 0 0 0;
}
.used-data{
    font-weight: 700;
}
.section-data__volume{
    width: 80%;
    height: 10px;
    margin: 1rem 0 0 2rem;
    border-radius: 25px;
    background: hsl(229, 57%, 11%);
}
.section-volume__graphics{
    height: 10px;
    width: 75%;
    border-radius: 25px;
    background: linear-gradient(45deg,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}
.section-volume__dot{
    background:linen;
    height: 10px;
    width: 5%;
    border-radius: 50%;
    display: flex;
    flex-direction: row-reverse;
    transform: translateX(12.7rem);
    
    }
.section-data__meter{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin: 1rem 0 0 2rem;
}
.section-data__left{
background:  hsl(243, 100%, 93%);
height: 5rem;
width: 40%;
transform: translateY(-2.5rem) translateX(7rem);
border-radius: 10px;
text-align: center;
 color: rgb(135, 139, 131);
font-variant: small-caps;
padding: 0.8rem 0 0 0;
}
.section-data__left-185{
font-size: 2.5rem;
font-weight: 700;
color:hsl(229, 57%, 11%);
}
@media (min-width:40rem) {
    body{
        background: linear-gradient(left to right, hsl(229, 57%, 11%), hsl(228, 40%, 17%)  );
    }
 .main{
     display: grid;
     grid-template-columns: 600px 500px;
     grid-template-rows: auto;
     /* align-items: baseline; */
     /* width:1440px; */
     margin: auto;
     margin-top: 12rem;
     margin-left: 10rem;
 }
 .section-paragraph{
     text-align: left;
     margin-left: 4rem;
 }
 .section-volume__dot{
     transform: translateX(15.6rem);
     border-radius: 50%;
 }
 .section-data__volume{
     margin-left: 4rem;
 }
 .section-data__meter{
     margin-left: 4rem;
 }
 .img-first{
    height: 12.5rem;
    background:hsl(228, 56%, 26%);
    border-radius: 7px 55px 7px 7px;
    margin: 4rem 2rem 0rem 2rem;
    padding: 3rem 0 0 10rem;
    width: 35rem;
}
.last-section{
    margin-top: 5rem;
    height: 180px;
}
.section-data__left{
    transform: translateX(60rem) translateY(-14rem);
    height:2.5rem;
    width: 25%;
    padding:0rem 0 3rem 0;
    font-size: 10px;
}
.attribution{
    margin-top: 3rem;
    text-align: center;
    transform: translateX(-20rem);
}

}